<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Language App - share your passion!</title>
  </head>
  <body>
    <header>
      <a href='{{url_for('showLoginPage')}}'>Login</a>
      <h1>Sorry, friend!</h1>
      <p>The requested page doesn't exist.</p>
      <p>You can hit the Back button in your browser</p>
      <p>or ask your nearest Scottish engineer for a ride to the mothership.</p>
    </header>
    <section id="link-homepage">
      <a href='{{url_for('showMainPage')}}'>Beam me up, Scotty!</a>
    </section>
  </body>
</html>
