<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Learn more about {{family['name']}} languages</title>
  </head>
  <body>
    <a href='{{url_for('showMainPage')}}'>Back to main page</a>
    <header>
      <p>{{family['description']}}</p>
    </header>
    <section id="languages">
      <ul>
      {% for language in languages %}
      <li><a href='{{url_for('showLanguage', family_id=family['id'], language_id=language['id'])}}'>{{language['name']}}</a></li>
        <ul>
          <li><a href='{{url_for('editLanguage', family_id=family['id'], language_id=language['id'])}}'>Edit this language</a></li>
          <li><a href='{{url_for('deleteLanguage', family_id=family['id'], language_id=language['id'])}}'>Delete this language</a></li>
        </ul>
      {% endfor %}
    </ul>
    </section>
    <a href='{{url_for('addLanguage', family_id=family['id'])}}'>Add new language</a>
    <br><br>
    <a href='{{url_for('editLanguageFamily', family_id=family['id'])}}'>Edit this language family</a>
    <br>
    <a href='{{url_for('deleteLanguageFamily', family_id=family['id'])}}'>Delete this language family</a>
  </body>
</html>
