<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Learn more about {{language['name']}} language</title>
  </head>
  <body>
    <a href='{{url_for('showLanguageFamily', family_id=family_id)}}'>Back to language family page</a>
    <header>
      <p>{{language['description']}}</p>
    </header>
    <section id="language-trivia">
      {% for trivium in trivia %}
      <p>{{trivium['text']}}</p>
      {% endfor %}
      {% for tip in tips %}
      <p>{{tip['text']}}</p>
      {% endfor %}
      {% for resource in resources %}
      <p>{{resource['text']}}</p>
      {% endfor %}
    </section>

  </body>
</html>
